{{define "speedtest.html"}}
{{if EmptyString .SpeedtestURL}}
<ul>
    <li>Ping latency: {{ .PingLatency }}ms / jitter: {{ .PingJitter }}ms</li>
    <li>Packet Loss: {{ Float64ToStr .Packetloss }}%</li>
    <li>Download: {{ BpsToMbps .DownloadBandwidth }}Mbps</li>
    <li>Upload: {{ BpsToMbps .UploadBandwidth }}Mbps</li>
    <li>ISP: {{ .Isp }}</li>
    <li>External IP: {{ .ExternalIP }}</li>
    <li>Server ID: {{ .ServerID }}</li>
    <li>Server Name: {{ .ServerName }}</li>
    <li>Server Location: {{ .ServerLocation }}</li>
    <li>Server Host: {{ .ServerHost }}</li>
    <!--
        The Result_url contains the speedtest.net results on their website
        in a pretty manner.  I wonder if we can do something pretty with it?
        Sadly, speedtest does validate the result ID and prevent different
        orgs from seeing another org's results.
        This is the DOM selector for the results if you hit the ResultURL:

        #container > div > div.main-content > div > div > div >
                div.pure-u-custom-speedtest > div.speedtest-container.main-row

        Can we just do a Ajax call and return that part of the dom in an iframe?
    -->
    <li>Result on Speedtest.net: <a href="{{ .ResultURL }}">Click Here</a></li>
</ul>
{{else}}
<iframe width="100%" height="650px" frameborder="0" src="{{ .SpeedtestURL }}"></iframe>
{{end}}
{{end}}

